<ion-view title="Chatter Feed" class="chatterfeed">

  <ion-content padding="false" scroll="false">
  <div class="container">
        <div class="jumbotron">
          <button class="btn btn-primary btn-lg" onclick="forceLogin()">
            Login to Chat on Salesforce
          </button>
          <button id="chatterFeedButton" class="btn btn-primary btn-lg"
              onclick="createChatterFeed('NEWS')" style="display: none">
          Show My Chatter Feed
          </button>
        </div>
        <div id="chatterFeed"/>
      </div>
    </ion-content>

</ion-view>
