<ion-view title="Chatter Feed" hide-back-button="false" class="chatterfeed">

  <ion-content padding="false" scroll="true">
  <div class="container">
        <div class="jumbotron">
          <button class="btn btn-primary btn-lg" onclick="forceLogin()">
            Login to Chat on Salesforce
          </button>
          <button id="chatterFeedButton" class="btn btn-primary btn-lg"
              onclick="createMemberCard('')" style="display: none">
          Show My Membership Card
          </button>
        </div>
        <div id="memberCard"/>
      </div>
    </ion-content>

</ion-view>
